* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
p {
  line-height: 2;
  gap: 5px;
  word-spacing: 2px;
}
.hero_header {
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  width: 100%;
}

#navbarSupportedContent ul {
  /* border: 1px solid red; */
  display: flex;
  justify-content: end;
  width: 100%;
}

.carousel_container {
  background-color: rgb(95, 96, 109);
  opacity: 0.9;
}
#section_1 {
  position: relative;
}
.section_1-text {
  position: absolute;
}

.section_2-nav {
  background-color: rgb(65, 79, 107);
}

/* .Rectangle_20 {
  background-color: rgb(65, 79, 107);
  position: absolute;
  left: -5px;
  top: 1984px;
  width: 1658px;
  height: 40px;
  z-index: 31;
} */

footer {
  background-color: rgb(65, 79, 107);
}
